.center {
    text-align: center;
    padding: 30px;
    color: black;
    font-family: cursive;
}

.head {
    text-align: center;
    font-family: Arial;
    color: #ff4e60;
    
}

.main-body {
    background: linear-gradient(45deg, #fff, #fff);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
    opacity: 0.9;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

html{
    background-color: #ffc0cb;
}

.yt{
    color: pink;
}

.puter{
    margin-top: 100px;
    text-align: center;
}

hr {
    color: red;
    margin: 20px 0;
}